@font-face {
  font-family: 'CormorantSC-Regular';
  src: url('/assets/fonts/CormorantSC-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'CormorantSC-SemiBold';
  src: url('/assets/fonts/CormorantSC-SemiBold.ttf') format('truetype');
  font-display: swap;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #85a9d2;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
}

.fs-btn{
  position: fixed;          /* мы позиционируем по канвасу через JS */
  z-index: 99999;

  width: 34px;
  height: 34px;
  padding: 0;

  border: 1px solid rgba(255,255,255,0.35);
  border-radius: 8px;
  background: rgba(0,0,0,0.55);
  color: #fff;

  font: 700 16px/34px system-ui, -apple-system, Segoe UI, Roboto, Arial;
  text-align: center;

  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.fs-btn:active { transform: scale(0.97); }
